.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title{ 
  margin: 0;
  font-size: 24px;
  display: inline-block;
  color: blue;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);

} 

.title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.search-result{
  text-align: left;
  padding: 16px;
  /* border: 2px solid #61dafb;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9); */
  width: 55%;

  margin-bottom: 20px;
}

.url{
  margin: 0;  
  text-decoration: none;
  color: green;
  font-size: 18px;
}

.description{
  margin-top: 2px;
  margin-bottom: 4px;
  color: black;
  font-size: 15px;
}


.result-image{
  /* width: 10%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  object-position: center; */
  width: 20px;
  height: 20px;
}


.img-span{
  background-color: white;
  border-radius: 50%;

  border: 1px solid black;

  -webkit-text-size-adjust: none; 

  display: inline-block; 
  line-height: 24px; 
  padding: 0 4px;
  margin-right: 12px; 
  padding-top: 5px;
}

.search-field{
  display: inline-block;
  width: 40%;

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

}




.logo{
  display: inline-block;
  margin: 20px;
  margin-left: 3%;
  margin-right: 0;
}

.search-field-input{
  border-radius: 20px;
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

.bar{
  /* display: table; */
  text-align: left;
  position: relative;
  border-bottom: 1px solid grey;

}

.response-time{
  text-align: left;
  margin-bottom: 10px;
  color: black;
}

.results{
  margin: 3%;
  margin-top: 1%;
  margin-left: 8%;
}